#footer{
    background-color: rgb(0, 0, 0);
    width:100%;
    margin-top:100px;
    padding-bottom:20px;
}

#footer i{
    font-size: 20px;
    border-radius: 100%;
    /* width:50px; */
    background-color: rgb(34, 32, 32);
        /* height:50px; */
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    margin: 10px ;
    padding: 10px;
    cursor: pointer;
    transition:transform 0.5s ease;

}

#footer i:hover{
    transform: translateY(-5px);

}


#footer span{
    font-weight: bold;
    color:white
}

#footer hr{
    text-align: center;
    width:95%;
    height: 2px;
    background-color: black;
    margin: 0 auto 20px;
}

#footer img{
    margin-top: 10px;
}
